* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: lightyellow;
}

.outer {
    margin-top: 5vh;
    height: 80vh;
    width: 45vw;
    background-image: url(./assets/img/pikachu.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid yellow;
    border-radius: 20px;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    opacity: 60%;
}

.base {
    height: 100%;
    width: 75%;
}

.display-zone {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input {
    height: 26%;
    width: 100%;
    font-size: 1.5rem;
    background-color: bisque;
    color: orange;
    font-weight: bolder;
    padding: 0% 1%
}

.operation-zone {
    height: 70%;
}

.btn {
    width: 13%;
    margin: 1.5% 3.5%;
    font-size: 1.2rem;
    background-color: bisque;
    border-radius: 1.2rem;
}

.btn:hover {
    background-color: chocolate;
}